<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Readers In Art Project</title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>

        <div id="timeline">
        <header>
            <div id="filter"><label>Show me:</label></div>
        </header>
        </div>

        <script id="timelineTemplate" type="text/template">
    <img src="<%= photo %>" alt="<%= name %>" />
    <h1><%= name %><span><%= century %></span></h1>
    <div><%= title %></div>

    <dl>
        <dt>Year:</dt><dd><%= year %></dd>
        <dt>Country:</dt><dd><%= country %></a></dd>
    </dl>
</script>
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/Underscore-min.js"></script>
        <script src="js/Backbone-min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>